<div class="footer">
  <div class="footer__main">
    <div class="footer__main-inner">
      <div class="footer__main-inner-item">
        <img class="footer__ocb-omni" src="./assets/images/OCB_GO_logo_footer.png" alt="ocb-omni">
      </div>
      <div class="footer__main-inner-item"><span class="omni-text">{{ 'Cổng thương mai điện tử OMNIGo' }}</span></div>
      <div class="footer__main-inner-item d-flex">
        <p>Theo dõi chúng tôi</p>
        <div class="footer__main-inner-item-social d-flex">
          <a href=""><img src="./assets/images/header-logo/FB.png"></a>
          <a href=""><img src="./assets/images/header-logo/TW.png"></a>
          <a href=""><img src="./assets/images/header-logo/YT.png"></a>
        </div>
      </div>
    </div>
    <div class="footer__main-inner inner-sec">
      <div class="footer__main-inner-item"><span class="footer__main-inner-item-contact">{{ 'Liên hệ' }}</span></div>
      <div class="footer__main-inner-item"><span class="footer__main-inner-item-address">{{ 'Hội sở chính: 41 & 45 Lê Duẩn, Quận 1, Tp.Hồ Chí Minh' }}</span></div>
      <div class="footer__main-inner-item"><span class="footer__main-inner-item-tel">{{ 'Tel: (84-28) 38 220 960 - 38 220 961' }}</span></div>
      <div class="footer__main-inner-item"><span class="footer__main-inner-item-fax">{{ 'Fax: (84-28) 38 220 963' }}</span></div>
    </div>
    <div class="footer__main-inner">
      <app-sign-up-newsletter></app-sign-up-newsletter>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__bottom-copyright">{{ '© Copyright 2018 Ngân hàng Phương (OCB)' | uppercase}}</p>
  </div>
</div>
