.footer {
  $root: &;

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 50px;
    align-items: center;
    background: #08a43b;;
  }

  &__main-inner-item {
    font-size: 18px;
    color: white;
    font-weight: 400;

    .omni-text {
      display: block;
      margin: 28px auto 68px auto;
    }
    p {
      font-size: 16px;
      margin-right: 7px;
    }
  }

  &__main-inner-item-contact {
    font-size: 30px;
    font-weight: 500;
  }

  &__main-inner-item-social {
    a {
      display: block;
      margin: 0 7px;
    }
  }

  &__bottom {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #037628;

    p {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {

    &__main-inner {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    &__main-inner-item {

      p {
        margin: 0 18px 0 0;
      }
      .omni-text {
        margin: 40px auto;
      }

      &-contact {
        display: block;
        margin-bottom: 28px;
      }
    }

    .inner-sec {
      margin: 80px 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {

    &__main {
      padding: 40px 25px;
    }
    
    &__main-inner-item {
      font-size: 12px;

      .omni-text {
        margin: 20px 0;
      }
       
      p {
        font-size: 10px;
        margin-right: 6px;
      }

      .footer__ocb-omni {
        width: 180px;
      }
    }

    &__main-inner-item-social {

      img {
        width: 22px;
      }
    }

    &__main-inner-item-contact {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__bottom {
      height: 52px;
    }

    &__bottom-copyright {
        font-size: 10px;
    }
  }
}
