//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//@import '/assets/styles/variables';
.header {
  $root: &;

  &__top {
    flex-wrap: wrap;
    padding: 4px 51px;
    align-items: center;
    font-size: 16px;
  }

  &__top-nav-tel {
    color: #e39717;
    font-size: 30px;
    font-family: Montserrat;
  }

  &__top-nav {
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
  }

  &__top-icon-tel {
    margin-right: 10px;
  }

  &__top-nav-item {
    margin: auto 13px;

    &:first-child {
      display: flex;
      line-height: normal;
    }

    .follow-us {
      color: #999;
    }
  }

  &__main {
    padding: 10px 52px;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    background: #14a142;
    display: flex;
  }

  &__main-menu {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__main-nav-main-page {
    a {
      font-size: 18px;
      color: white;
      text-decoration: none;
      letter-spacing: normal;
      font-weight: 400;

      &:hover,
      &:focus,
      &.active {
        color: #e39717;
        text-decoration: none;
        position: relative;
      }

      &.active {
        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
        }
      }

    }

    img {
      margin-left: 16px;
      margin-right: -42px;
    }
  }

  &__main-nav-item {
    position: relative;
    margin: auto 25px;

    &:hover {
      .header__sub-menu {
        visibility: visible;
      }

      .header__main-nav-account-label {
        visibility: visible;
      }
    }
  }

  &__sub-menu {
    visibility: hidden;

    &-nav-ul {
      position: absolute;
      background-color: #078a32;
      list-style: none;
      padding: 14px 30px 14px 16px;
      color: #fff;
      font-size: 18px;
      top: 36px;
      width: 245px;
      left: -14px;
    }

    &::after {
      content: "";
      display: block;
      width: 174px;
      height: 35px;
      position: absolute;
      left: -47px;
    }

    &-nav-ul-item {
      border-bottom: 1px solid #fff;
      padding: 9px 0;
      font-weight: 400;

      :hover {
        cursor: pointer;
        color: #e6d61f;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__main-nav-account-label {
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    background-color:  #00dd47;
    list-style: none;
    padding: 12px 12px;
    color: #fff;
    font-size: 18px;
    top: 52px;
    width: 120px;
    left: 60px;

    &::before {
      content: "";
      border: 20px solid;
      border-color: transparent transparent #00dd47 transparent;
      position: absolute;
      right: 16px;
      top: -32px;
    }

    &::after {
      content: "";
      top: -29px;
      display: block;
      width: 174px;
      height: 41px;
      position: absolute;
      left: -47px;
    }

    &-item {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__main-nav-account-logged {
    cursor: pointer;
  }
}

// Mobile
.nav_input:checked ~ .nav__overlay {
  display: block;
}

.nav_input:checked ~ .nav__mobile {
  transform: translateX(0%);
  opacity: 1;
}

.nav_input {
  position: absolute;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav {

  &__mobile-close {
    width: 28px;
    height: 28px;
    fill: #fff;
    position: absolute;
    top: 1rem;
    right: 13rem;
    z-index: 2;
  }

  &__mobile-btn {
    display: none;
    width: 28px;
    height: auto;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    animation: fadeIn linear 0.3s
  }

  &__mobile {
    position: fixed;
    overflow: visible;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #14a142;
    z-index: 1000;
    transform: translateX(100%);
    opacity: 0;
    //transition: transform linear 0.3s opacity linear 0.3s;
  }

  &-mobile-has-dropdown {
    color: white;
    &:hover, active {
      color: #e39717;
    }
  }

  &__mobile-menu-item {
    a {
      text-decoration: none;
      color: #fff;
    }

    .dropdown-item {
      list-style: none;
      display: none;
      &_link {

      }
    }

    .dropdown-btn {
      display: none;
    }

    .dropdown-btn:checked + ul {
      display: block;
    }
  }

  &__mobile-menu {
    position: absolute;
    display: block;
    width: 100%;
    margin: 65px auto auto 23px;;
    list-style: none;
  }
}


@media screen and (max-width: 990px) {
  .header {

    &__top {
      height: 100px;
      padding: 14px 20px;
      justify-content: space-between;
    }

    &__top-nav {
      flex-direction: column;
      align-items: flex-end;
    }

    &__top-nav-item {
      margin: 0 6px;

      .follow-us {
        display: none;
      }
    }

    &__top-nav-wrapper {
      margin-right: 5%;
    }

    &__main {
      height: 70px;
      padding: 10px 20px;
      justify-content: space-between;
    }

    &__main-menu {
      display: none;
    }
  }

  .nav__mobile-btn {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    &__top {
      height: 80px;
      padding: 9px 20px;
      justify-content: space-between;
    }

    &__top-logo {
      img {
        width: 90px;
        height: auto;
      }
    }

    &__mobile-menu-icon {
      img {
        width: 25px;
        height: auto;
      }
    }

    &__top-nav {
      flex-direction: column;
      align-items: flex-end;
    }

    &__top-nav-item {
      margin: 0 6px;

      .follow-us {
        display: none;
      }

      .header__top-nav-tel {
        font-size: 20px;
      }

      img {
        width: 20px;
        height: auto;
      }
    }

    &__top-nav-wrapper {
      margin-right: 5%;
    }

    &__main {
      height: 70px;
      padding: 10px 20px;
      justify-content: space-between;
      &-logo {
        img {
          width: 120px;
          height: auto;
        }
      }
    }

    &__main-menu {
      display: none;
    }
  }

  .nav__mobile-btn {
    display: block;
  }
}

@media screen and (max-width: 319px) {
  .header {
    &__top {
      height: 80px;
      padding: 9px 20px;
      justify-content: space-between;
    }

    &__top-logo {
      img {
        width: 90px;
        height: auto;
      }
    }

    &__mobile-menu-icon {
      img {
        width: 25px;
        height: auto;
      }
    }

    &__top-nav {
      flex-direction: column;
      align-items: flex-end;
    }

    &__top-nav-item {
      margin: 0 6px;

      .follow-us {
        display: none;
      }

      .header__top-nav-tel {
        font-size: 20px;
      }

      img {
        width: 20px;
        height: auto;
      }
    }

    &__top-nav-wrapper {
      margin-right: 5%;
    }

    &__main {
      height: 70px;
      padding: 10px 20px;
      justify-content: space-between;
      &-logo {
        img {
          width: 120px;
          height: auto;
        }
      }
    }

    &__main-menu {
      display: none;
    }
  }

  .nav__mobile-btn {
    display: block;
  }
}

