<div class="header">
  <div class="d-flex header__top">
    <div class="header__top-logo">
      <a routerLink="/"><img src="./assets/images/OCB_logo.png"></a>
    </div>
    <div class="header__top-nav d-flex">
      <div class="header__top-nav-item">
        <div class="header__top-icon-tel"><img src="./assets/images/header-logo/phone_icon.png"></div>
        <span class="header__top-nav-tel">1800 6678</span>
      </div>
      <div class="header__top-nav-wrapper d-flex">
        <div class="header__top-nav-item"><span class="follow-us">Theo dõi chúng tôi</span></div>
        <div class="header__top-nav-item"><img src="./assets/images/header-logo/FB.png"></div>
        <div class="header__top-nav-item"><img src="./assets/images/header-logo/TW.png"></div>
        <div class="header__top-nav-item"><img src="./assets/images/header-logo/YT.png"></div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="header__main-logo">
        <a routerLink="/"><img src="./assets/images/OCB_GO_logo.png"></a>
      </div>
    <div class="header__main-menu">
      <nav class="header__main-nav d-flex justify-content-end flex-wrap">
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'Trang chủ' }}</a>
            </div>
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/gioi-thieu" routerLinkActive="active">{{ 'Giới thiệu' }}</a>
            </div>
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/dich-vu" routerLinkActive="active">{{ 'Dịch vụ' }}</a>
<!--              <i (click)="isCollapsed = !isCollapsed"-->
<!--                 [attr.aria-expanded]="!isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"></i>-->
            </div>
<!--            <div class="header__sub-menu">-->
<!--              <ul class="header__main-nav-ul list-unstyled">-->
<!--                <li class="header__main-nav-ul-item"><a>Thẻ</a></li>-->
<!--                <li class="header__main-nav-ul-item"><a>Tiết kiệm</a></li>-->
<!--                <li class="header__main-nav-ul-item"><a>Vay</a></li>-->
<!--                <li class="header__main-nav-ul-item"><a>Tài chính thông minh</a></li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/lien-he" routerLinkActive="active">{{ 'Liên hệ' }}</a>
            </div>
          </div>
        <div class="header__main-nav-item">
          <div class="header__main-nav-main-page">
            <a routerLink="/myaccount" routerLinkActive="active">{{ 'My Account' }}</a>
            <img src="./assets/images/header-logo/not_log_in.png">
          </div>
        </div>
        </nav>
    </div>
  </div>
</div>

