<div class="header">
  <div class="d-flex header__top">
    <div class="header__top-logo">
      <a routerLink="/"><img src="./assets/images/OCB_logo.png"></a>
    </div>
    <div class="header__top-nav d-flex">
      <div class="header__top-nav-item">
        <div class="header__top-icon-tel"><img src="./assets/images/header-logo/phone_icon.png"></div>
        <span class="header__top-nav-tel">1800 6678</span>
      </div>
      <div class="header__top-nav-wrapper d-flex">
        <div class="header__top-nav-item"><span class="follow-us">Theo dõi chúng tôi</span></div>
        <div class="header__top-nav-item"><a href="https://www.facebook.com/phuongdongbank/"><img src="./assets/images/header-logo/FB.png"></a></div>
        <div class="header__top-nav-item"><a href="https://twitter.com/ocbbank?lang=en"><img src="./assets/images/header-logo/TW.png"></a></div>
        <div class="header__top-nav-item"><a href="https://www.youtube.com/channel/UCUWi0zTAFa7WTIAQlf65M2w"><img src="./assets/images/header-logo/YT.png"></a></div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="header__main-logo">
        <a routerLink="/"><img src="./assets/images/OCB_GO_logo.png"></a>
      </div>
    <div class="header__main-menu">
      <nav class="header__main-nav d-flex justify-content-end flex-wrap">
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'Trang chủ' }}</a>
            </div>
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/gioi-thieu" routerLinkActive="active">{{ 'Giới thiệu' }}</a>
            </div>
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/dich-vu" routerLinkActive="active">{{ 'Dịch vụ' }}</a>
<!--              <i (click)="isCollapsed = !isCollapsed"-->
<!--                 [attr.aria-expanded]="!isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"></i>-->
            </div>
            <div class="header__sub-menu">
              <ul class="header__sub-menu-nav-ul">
                <li class="header__sub-menu-nav-ul-item"><a>Thẻ</a></li>
               <li class="header__sub-menu-nav-ul-item"><a>Tiết kiệm</a></li>
               <li class="header__sub-menu-nav-ul-item"><a>Vay</a></li>
               <li class="header__sub-menu-nav-ul-item"><a>Tài chính thông minh</a></li>
             </ul>
            </div>
          </div>
          <div class="header__main-nav-item">
            <div class="header__main-nav-main-page">
              <a routerLink="/lien-he" routerLinkActive="active">{{ 'Liên hệ' }}</a>
            </div>
          </div>
        <div class="header__main-nav-item">
          <div class="header__main-nav-main-page">
            <a routerLink="/myaccount" routerLinkActive="active">{{ 'My Account' }}</a>
            <img *ngIf="!isLoggedIn" class ="header__main-nav-account" src="./assets/images/header-logo/not_log_in.png">
            <img *ngIf="isLoggedIn" class ="header__main-nav-account-logged" src="./assets/images/header-logo/person_copy.png" (click)="logout()">
            <ul *ngIf="isLoggedIn" class="header__main-nav-account-label"><li class="header__main-nav-account-label-item">{{ accountLabel }}</li></ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- Mobile -->
    <label for="nav__mobile-input"><img class="nav__mobile-btn" src="../../../assets/images/header-logo/menu_icon.png" alt=""></label>
    <input type="checkbox" class="nav_input" hidden id="nav__mobile-input">
    <label for="nav__mobile-input" class="nav__overlay"></label>

    <div class="nav__mobile">
      <label for="nav__mobile-input" class="nav__mobile-close">
        <img src="../../../assets/images/header-logo/icons8-close-30.png">
      </label>
      <div class="nav__mobile-menu">
        <div class="nav__mobile-menu-item"><a class="nav__mobile-menu-item-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'Trang chủ' }}</a></div>
        <div class="nav__mobile-menu-item"><a class="nav__mobile-menu-item-link" routerLink="/gioi-thieu" routerLinkActive="active">{{ 'Giới thiệu' }}</a></div>
        <div class="nav__mobile-menu-item">
          <label for="dropdown-btn" class="nav-mobile-has-dropdown">Dịch vụ</label>
          <input type="checkbox" class="dropdown-btn" id="dropdown-btn">
          <ul class="dropdown-item">
            <li><a href="" class="dropdown-item_link">Thẻ</a></li>
            <li><a href="" class="dropdown-item_link">Tiết kiệm</a></li>
            <li><a href="" class="dropdown-item_link">Vay</a></li>
            <li><a href="" class="dropdown-item_link">Tài chính thông minh</a></li>
          </ul>
        </div>
        <div class="nav__mobile-menu-item"><a class="nav__mobile-menu-item-link" routerLink="/lien-he" routerLinkActive="active">{{ 'Liên hệ' }}</a></div>
        <div class="nav__mobile-menu-item"><a class="nav__mobile-menu-item-link" routerLink="/myaccount" routerLinkActive="active">{{ 'My Account' }}</a></div>
      </div>
    </div>
  </div>
</div>

