//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//@import '/assets/styles/variables';

.header {
  $root: &;

  &__top {
    flex-wrap: wrap;
    padding: 4px 51px;
    align-items: center;
    font-size: 16px;
  }

  &__top-nav-tel {
    color: #e39717;
    font-size: 30px;
  }

  &__top-nav {
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
  }

  &__top-icon-tel {
    margin-right: 10px;
  }

  &__top-nav-item {
    margin: auto 13px;

    &:first-child {
      display: flex;
      line-height: normal;
    }

    .follow-us {
      color: #999;
    }
  }

  &__main {
    padding: 10px 52px;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    background: #14a142;
    display: flex;
  }

  &__main-menu {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  &__main-nav-main-page {
    a {
      font-size: 18px;
      color: white;
      text-decoration: none;
      letter-spacing: normal;
      font-weight: 400;

      &:hover,
      &:focus,
      &.active {
        color: #e39717;
        text-decoration: none;
        position: relative;
      }

      &.active {
        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
        }
      }



    }

    img {
      margin-left: 16px;
      margin-right: -42px;
    }
  }

  &__main-nav-item {
    margin: auto 25px;
  }

  //@include media-breakpoint-up(md) {
  //
  //  &__top-nav {
  //    flex: 1 1 auto;
  //    justify-content: flex-end;
  //  }
  //}
}

@media screen and (max-width: 990px) {
  .header {

    &__top {
      height: 100px;
      padding: 14px 20px;
      justify-content: space-between;
    }

    &__top-nav {
      flex-direction: column;
      align-items: flex-end;
    }

    &__top-nav-item {
      margin: 0 6px;

      .follow-us {
        display: none;
      }
    }

    &__top-nav-wrapper {
      margin-right: 5%;
    }

    &__main {
      height: 70px;
      padding: 10px 20px;
    }

    &__main-menu {
      display: none;
    }

  }
}
