<form [formGroup]="loginForm">
  <div class="form-group shadow-soft pt-2 pb-2">
    <div class="p-inputgroup">
      <input pInputText
             class="input-form"
             type="text"
             name="username"
             id="username"
             placeholder="Họ và tên"
             formControlName="username"
             #username
             data-cy="username"
      />
    </div>
  </div>
  <div class="form-group shadow-soft pt-2 pb-2">
    <div class="p-inputgroup">
      <input pInputText
             class="input-form"
             type="text"
             name="phone"
             id="phone"
             placeholder="Số điện thoại"
             formControlName="phone"
             #phone
             data-cy="phone"
      />
    </div>
  </div>
  <div class="form-group shadow-soft pt-2 pb-2">
    <div class="p-inputgroup">
      <input pInputText
             class="input-form"
             type="text"
             name="username"
             id="username"
             placeholder="Email"
             formControlName="email"
             #username
             data-cy="email"
      />
    </div>
  </div>
  <div class="form-group shadow-soft pt-2">
    <div class="p-inputgroup">
      <input pInputText
             class="input-form"
             [type]="passwordVisible ? 'text' : 'password'"
             name="password"
             id="password"
             placeholder="Mật khẩu"
             formControlName="password"
             data-cy="password"
      />
    </div>
  </div>
  <div class="form-group shadow-soft pt-2">
    <div class="p-inputgroup">
      <input pInputText
             class="input-form"
             [type]="passwordVisible ? 'text' : 'password'"
             name="password"
             id="password"
             placeholder="Nhập lại mật khẩu"
             formControlName="passwordCheck"
             data-cy="password"
      />
    </div>
  </div>
  <div class="button-signup p-d-flex p-jc-end">
    <button
      id="auth-login-btn"
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
      (click)="submitForm()"
    >
      Đăng ký
    </button>
  </div>
</form>
