<form class="col-9">
  <div class="form-group d-flex">
    <input type="text" name="email" class="form-control col-lg-2" placeholder="Họ và tên">
  </div>
  <div class="form-group d-flex">
    <input type="text" name="email" class="form-control col-lg-2" placeholder="Tên đăng nhập">
  </div>
  <div class="form-group d-flex">
    <input type="text" name="email" class="form-control col-lg-2" placeholder="Email">
  </div>
  <div class="form-group d-flex">
    <input type="password" name="password" class="form-control col-lg-2" placeholder="Mật khẩu">
  </div>
  <div class="form-group d-flex">
    <input type="password" name="password" class="form-control col-lg-2" placeholder="Nhập lại mật khẩu">
  </div>
  <div class="text-center">
    <input type="submit" class="btn btn-my" value="Đăng ký">
  </div>
</form>
