<div class="newsletter">
  <div class="newsletter__inner">
    <div class="newsletter__title">{{ 'Đăng kí nhận thông tin từ OCB' | uppercase}}</div>
    <form class="newsletter__form d-flex flex-fill" [formGroup]="submitForm">
      <input pInputText
             class="input-form"
             type="text"
             name="email"
             id="email"
             placeholder="Địa chỉ email của bạn"
             formControlName="email"
             #username
             data-cy="email"
      />
      <button class="newsletter__button btn btn-primary" (click)="send()" [disabled]="submitForm.invalid">{{ 'Gửi' }}</button>
    </form>
  </div>
</div>
