.input-form {
    padding: 16px;
    width: 100%;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.button-login {
    margin-top: 25px;
    .btn {
        float: right;
        width: 158px;
        height: 51px;
        border-radius: 3px;
        border: 1px solid #dddddd;
        background-color: #14a142;
    }
}