<div class="banner col-lg-12">
  <img src="./assets/images/home-page/photo_4-1.png">
</div>
<div class="breadcumbs d-flex align-items-center">
  <p class="breadcumbs__home">Trang chủ</p>
  <p class="breadcumbs__intro">/ Giới thiệu</p>
</div>
<div class="home__main">
  <div class="home__main-title d-flex justify-content-center align-items-center">
    <div class="home__main-title-wrap d-flex">
      <h1 class="home__main-introduce">{{'Giới '}} </h1><h1 class="home__main-introducing">{{ 'Thiệu' }}</h1>
    </div>
    <span class="home__main-slogan">OCB Năng Động Sáng Tạo</span>
  </div>
  <div class="home__main-content d-flex">
    <div class="home__main-content-intro col-6">
      <h2>Tiên phong Ngân hàng hợp kênh</h2>
      <p>Tại Việt Nam, Ngân hàng TMCP Phương Đông (OCB) là đơn vị dẫn đầu cuộc cách mạng ngân hàng số. Thừa hưởng những thành tựu của công nghệ hợp kênh tiên tiến trên thế giới, OCB OMNI khẳng định tính tiên phong với 3 tính năng nổi trội:
        Tốc độ - An toàn – Tiện nghi</p>
    </div>
    <div class="home__main-content-photo col-6"><img src="../../../assets/images/home-page/OCB_Tan_Binh.png"></div>
  </div>
  <div class="home__main-service">
    <h2 class="d-flex justify-content-center align-items-center">Dịch vụ Hoàn Hảo</h2>
    <div class="home__main-service-wrapper d-flex justify-content-center">
      <div class="home__main-service-item d-flex">
        <div class="home__main-service-desc">
          <h3>Thẻ</h3>
          <p>Thoả sức chi tiêu - Thả ga tận hưởng</p>
        </div>
        <img class="home__main-service-icon" src="./assets/images/home-page/Vector_Smart_Object-card.png"/>
      </div>
      <div class="home__main-service-item d-flex">
        <img class="home__main-service-icon" src="./assets/images/home-page/Vector_Smart_Object-loan.png"/>
        <div class="home__main-service-desc">
          <h3 class="d-flex">Vay</h3>
          <p>Kênh đầu tư thông minh trong thời đại số</p>
        </div>
      </div>
    </div>
    <div class="home__main-service-wrapper d-flex justify-content-center align-items-center">
      <div class="home__main-service-item">
        <img class="home__main-service-icon" src="./assets/images/home-page/Vector_Smart_Object-save.png"/>
        <h3>Tiết kiệm</h3>
        <p>Kênh đầu tư thông minh trong thời đại số</p>
      </div>
      <div class="home__main-service-photo"><img src="./assets/images/home-page/services_pic.png" /></div>
      <div class="home__main-service-item">
        <img class="home__main-service-icon" src="./assets/images/home-page/Vector_Smart_Object-smart-money.png"/>
        <h3>Tài chính thông minh</h3>
        <p>Mang đến cho bạn những bí kíp quản lý và giao dịch tài chính trực tuyến thông minh nhất</p>
      </div>
    </div>
  </div>
</div>

