<div class="home__main container-xl">
    <div class="home__main-target d-flex justify-content-center align-items-center">
        <div class="home__main-title"><h1>Mục tiêu thật nhiều</h1></div>
        <div class="home__main-sub-title"><h2>Nhưng bạn chưa biết bắt đầu từ đâu</h2></div>
        <img src="../../../assets/images/home-page/Layer_3.png" alt="">
        <h3>Hãy để OCB giúp bạn tìm ra giải pháp phù hợp nhé!</h3>
        <button>Bắt đầu ngay</button>
    </div>
    <div class="home__main-transaction">
        <div class="home__main-transaction-top d-flex align-items-center">
            <h1>Giao dịch nhanh không lo gián đoạn. <br>Mọi lúc. Mọi nơi</h1>
            <h2>Hãy để OCB giúp bạn tìm ra giải pháp phù hợp nhé</h2>
        </div>
        <div class="home__main-transaction-desc d-flex ">
                <div class="home__main-transaction-desc-item d-flex">
                    <img src="" alt="">
                    <p>Miễn phí mở tài khoản</p>
                </div>
                <div class="home__main-transaction-desc-item">
                    <img src="" alt="">
                    <p>Miễn phí mọi giao dịch chuyển tiền trong và ngoài hệ thống</p>
                </div>
                <div class="home__main-transaction-desc-item">
                    <img src="" alt="">
                    <p>Miễn phí thanh toán mọi hóa đơn</p>
                </div>
                <div class="home__main-transaction-desc-item">
                    <img src="" alt="">
                    <p>1 OTP cho hàng ngàn giao dịch</p>
                </div>
        </div>
        <div class="home__main-transaction-create d-flex justify-content-center align-items-center create-account">
            <h1>Mở tài khoản miễn phí</h1>
            <button>Mở tài khoản ngay</button>
        </div>
    </div>
    <div class="home__main-passport d-flex">
        <div class="home__main-passport-content">
            <div class="home__main-passport-content-item">
                <img src="" alt="">
                <span>0% phí chuyển đổi ngoại tệ</span>
            </div>
            <div class="home__main-passport-content-item">
                <img src="" alt="">
                <span>+1 triệu ATM rút tiền mặt trên toàn thế giới</span>
            </div>
            <div class="home__main-passport-content-item">
                <img src="" alt="">
                <span>+4500 điểm ưu đãi trả góp 0%</span>
            </div>
            <div class="home__main-passport-content-item">
                <img src="" alt="">
                <span>+1000 điểm ưu đãi mua sắm, nhà hàng, khách sạn quốc tế</span>
            </div>
        </div>
        <img src="" alt="">
    </div>
    <div class="home__main-other-promotion d-flex">
        <div class="home__main-other-item d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/home-page/Layer_6.png" alt="">
            <span>Chia sẻ OMNI - Nhận tiền mê ly</span>
            <a href="">Xem ngay</a>
        </div>
        <div class="home__main-other-item d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/home-page/Layer_7.png" alt="">
            <span>Tích điểm OMNI - đổi quà như ý</span>
            <a href="">Xem ngay</a>
        </div>
        <div class="home__main-other-item d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/home-page/Layer_8.png" alt="">
            <span>Đầu tư dễ dàng - Lợi nhuận cao ngất</span>
            <a href="">Xem ngay</a>
        </div>
    </div>
</div>  