<div class="banner col-lg-12">
    <img src="./assets/images/home-page/photo_4-1.png">
</div>
<div class="breadcumbs d-flex align-items-center">
    <p class="breadcumbs__home">Trang chủ</p>
    <p class="breadcumbs__intro">/ Liên hệ</p>
</div>
<div class="contact__main">
    <div class="contact__main-title d-flex justify-content-center align-items-center">
        <div class="contact__main-title-wrap d-flex">
          <h1 class="contact__main-introduce">{{'Liên '}} </h1><h1 class="contact__main-introducing">{{ 'Hệ' }}</h1>
        </div>
        <span class="contact__main-slogan">Quý khách vui lòng điền đầy đủ các thông tin sau để chúng tôi có thể liên hệ và giải đáp thắc mắc của quý khách</span>
    </div>
    <div class="contact__main-content"></div>
    <app-perfect-service></app-perfect-service>
</div>
