<div class="banner col-lg-12">
    <img src="../../../assets/images/contact/photo_4-2.png">
</div>
<div class="breadcumbs d-flex align-items-center">
    <p class="breadcumbs__home">Trang chủ</p>
    <p class="breadcumbs__intro">/ Liên hệ</p>
</div>
<div class="contact__main">
    <div class="contact__main-title d-flex justify-content-center align-items-center">
        <div class="contact__main-title-wrap d-flex">
          <h1 class="contact__main-introduce">{{'Liên '}} </h1><h1 class="contact__main-introducing">{{ 'Hệ' }}</h1>
        </div>
        <span class="contact__main-slogan">Quý khách vui lòng điền đầy đủ các thông tin sau để chúng tôi có thể liên hệ và giải đáp thắc mắc của quý khách</span>
    </div>
    <div class="contact__main-content d-flex">
        <div class="contact__main-content-desc col-6">
            <h2>Địa chỉ của chúng tôi</h2>
            <div class="contact__main-content-detail d-flex">
                <img src="../../../assets/images/contact/address_icon.png" alt="address">
                <div class="contact__main-content-info">
                    <h3>Địa chỉ</h3>
                    <span>41&45 Lê Duẩn, Quận 1, Tp.Hồ Chí Minh</span>
                </div>
            </div>
            <div class="contact__main-content-detail d-flex">
                <img src="../../../assets/images/contact/phone_icon.png" alt="address">
                <div class="contact__main-content-info">
                    <h3>Điện thoại</h3>
                    <span>(84-28) 38 220 960 - 38 220 961</span>
                </div>
            </div>
            <div class="contact__main-content-detail d-flex">
                <img src="../../../assets/images/contact/address_icon.png" alt="address">
                <div class="contact__main-content-info">
                    <h3>Email</h3>
                    <span>dvkh@ocb.com.vn</span>
                </div>
            </div>
        </div>
        <div class="contact__main-send-mail col-5">
            <app-email-contact></app-email-contact>
        </div>
    </div>
    <app-perfect-service></app-perfect-service>
</div>
