<div class="banner col-lg-12">
    <img src="./assets/images/home-page/photo_4-1.png">
</div>
  <div class="breadcumbs d-flex align-items-center">
    <p class="breadcumbs__home">Trang chủ</p>
    <p class="breadcumbs__intro">/ Giới thiệu</p>
  </div>
  <div class="home__main">
    <div class="home__main-title d-flex justify-content-center align-items-center">
      <div class="home__main-title-wrap d-flex">
        <h1 class="home__main-introduce">{{'Giới '}} </h1><h1 class="home__main-introducing">{{ 'Thiệu' }}</h1>
      </div>
      <span class="home__main-slogan">OCB Năng Động Sáng Tạo</span>
    </div>
    <div class="home__main-content d-flex">
      <div class="home__main-content-intro col-6">
        <h2>Tiên phong Ngân hàng hợp kênh</h2>
        <p>Tại Việt Nam, Ngân hàng TMCP Phương Đông (OCB) là đơn vị dẫn đầu cuộc cách mạng ngân hàng số. Thừa hưởng những thành tựu của công nghệ hợp kênh tiên tiến trên thế giới, OCB OMNI khẳng định tính tiên phong với 3 tính năng nổi trội: <br>
          Tốc độ - An toàn – Tiện nghi</p>
      </div>
      <div class="home__main-content-photo col-6 d-flex justify-content-center align-items-center"><img src="../../../assets/images/home-page/OCB_Tan_Binh.png"></div>
    </div>
    <app-perfect-service></app-perfect-service>
  </div>
  
  