<div class="perfect-service">
    <h2 class="d-flex justify-content-center align-items-center">Dịch vụ Hoàn Hảo</h2>
    <div class="perfect-service-wrapper first-row d-flex">
      <div class="perfect-service-item d-flex">
        <div class="perfect-service-desc">
          <h3>Thẻ</h3>
          <p>Thoả sức chi tiêu - Thả ga tận hưởng</p>
        </div>
        <img class="perfect-service-icon" src="../../../assets/images/dich-vu/2-layers.png"/>
      </div>
      <div class="perfect-service-item d-flex">
        <img class="perfect-service-icon" src="../../../assets/images/dich-vu/2-layers (1).png"/>
        <div class="perfect-service-desc">
          <h3 class="d-flex">Vay</h3>
          <p>Kênh đầu tư thông minh trong thời đại số</p>
        </div>
      </div>
    </div>
    <div class="perfect-service-wrapper second-row d-flex justify-content-center align-items-center">
        <div class="perfect-service-item d-flex">
            <div class="perfect-service-desc">
              <h3>Tiết kiệm</h3>
              <p>Kênh đầu tư thông minh trong thời đại số</p>
            </div>
            <img class="perfect-service-icon" src="../../../assets/images/dich-vu/2-layers (2).png"/>
          </div>
      <div class="perfect-service-photo"><img src="./assets/images/home-page/services_pic.png" /></div>
      <div class="perfect-service-item d-flex">
        <img class="perfect-service-icon" src="../../../assets/images/dich-vu/smart-money.png"/>
        <div class="perfect-service-desc">
          <h3 class="d-flex">Tài chính thông minh</h3>
          <p>Mang đến cho bạn những bí kíp quản lý và giao dịch tài chính trực tuyến thông minh nhất</p>
        </div>
      </div>
    </div>
  </div>