.form-phone-number {
    margin-left: 20px;
}

.input-form {
    min-width: 245px;
    padding: 16px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 326px;
}

.text-area-form {
    height: 180px;
}

.button-send {
    margin-top: 25px;
    .btn {
        float: right;
        width: 158px;
        height: 51px;
        border-radius: 3px;
        border: 1px solid #dddddd;
        background-color: #14a142;
        // margin-right: 164px;
    }
}

@media only screen and (max-width: 990px) {
    .form-phone-number {
        margin: 14px 0 0 0;
    }

    .half-width {
        width: 100%;
    }
}